{% extends "base.njk" %}

{% block body_extra %}
  <div class='container'>
  {% for tag in collections[tagList] %}
    <h4>{{ tag }}</h4>
    <ul>
      {% for item in collections[tag] %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
  </div>
{% endblock %}
